@mixin reset {
    list-style: none;
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

@mixin size ($width-s, $height-s) {
    width: $width-s;
    height: $height-s;
}

// @mixin grid ($col-1: false) {
//     display: grid;
//     @if $col-1 != false {
//         grid-template-columns: 1fr;
//     } @else {
//         grid-template-columns: 1fr 2fr 1fr;
//     }
// }