// Colors
$primary-color: rgba(102, 51, 153, 1); 
$secondary-color: rgba(249, 250, 291, 1);
$secondary-text-color: #ffffff;

// Size
$primary-text-s: 14px;
$primary-title-s: 22px;
$block-size: 100px;

$font-family: Roboto, sans-serif;
$text-bold: bold;